.navbar {
    display: block;
    height: 28px;
    min-height:28px !important;
    margin-bottom: 10px;
}

.navbar-nav {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-form {
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav>li {
    float: float;
    display: inline-block;
    margin-left: 5px !important;
    margin-right: 5px !important;
    whilte-space: nowrap;
}

.navbar-nav>li>a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.thin-select {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 24px !important;
}

div {
    position: relative;
}

canvas {
    position: absolute;
}