@media screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }
}

.navbar {
  display: block;
  height: 29px !important;
  min-height:29px !important;
  margin-bottom: 0px;
}

.navbar-header {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
}

.navbar-nav {
  width: 100% !important;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.navbar-brand {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-form {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav>li {
  display: inline-block;
  margin-left: 3px !important;
  margin-right: 3px !important;
  white-space: nowrap;
}

.navbar>div {
  height: 100%;
}

.navbar>div>div {
  height: 100%;
}

.navbar-nav>li>a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.thin-btn {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  height: 24px !important;
}

.menu-btn {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.small-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.no-margin {
  margin: 0 !important;
}
.rect-select {
  border-radius: 0 !important;
  -webkit-appearance:none;
}

.notActive{
  color: #3276b1;
  background-color: #fff;
}

html {
  height: 100%;
}
body {
  height: 100%;
  /* disables selection */
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari/Chrome */
  -ms-user-select: none; /* IE10 */

  /* scrolling */
  -webkit-overflow-scrolling: touch;
}

div {
  position: relative;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

row {
  height: 100%;
}

canvas {
  position: absolute;
}

.container-fluid {
  padding: 0 !important;
}

.modal-open {
  padding-right: 0px !important;
}

.panel-heading {
  cursor: pointer;
}

.collapsing {
  /**
  /* fixes issue#105 *
  height: 100% !important;

  /* disable transition *
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
  **/
}

.input-small {
  font-size: 12px;
}

.control-small {
  height: 28px !important
}

.alert {
  margin-bottom: 10px !important;
}

select {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.sidebar {
  background-color: #F7F7F7;
  z-index: 1000;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.sidebar-right {
  border-left: 6px groove #F8F8F8;
  float: right;
  min-height: 10660px !important;
}

.sidebar-left {
  border-right: 6px groove #F8F8F8;
  float: left;
}

.row {
  overflow: hidden;
}

.main-area-wrapper {
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.main-area {
  margin-left: auto;
  margin-right: auto;
}