/*
 * Body
 */
@media screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }

  .sidebar-heading:hover {
    color: #5bc0de;
  }

  .panel-heading:hover {
    color: #5bc0de;
  }
}

@media screen and (max-width: 767px) {
  .collapsing {
    /* fixes issue#105 */
    height: 100% !important;

    /* disable transition */
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  /* disables selection */
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari/Chrome */
  -ms-user-select: none; /* IE10 */

  /* scrolling */
  -webkit-overflow-scrolling: touch;
}
noscript div {
  margin-left: 40px;
  width: 80%;
}

div {
  position: relative;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

row {
  height: 100%;
}

select {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

ul {
  padding-left: 20px;
}

.container-fluid {
  padding: 0 !important;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  padding-right: 0px !important;
}

.input-small {
  font-size: 12px;
}

/*
 * Forms
 */

.thin-btn {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
  height: 24px !important;
}

.menu-btn {
  margin-left: 10px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

@media screen and (max-width: 299px) {
  .pg-link-btn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 0px;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    height: 24px !important;
  }
}

@media screen and (min-width: 300px) {
  .pg-link-btn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 10px;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    height: 24px !important;
  }
}

.small-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.no-margin {
  margin: 0 !important;
}

.rect-select {
  border-radius: 0 !important;
  -webkit-appearance:none;
}

.long-select {
  width: 195px;
  margin-left: 14px;
  margin-right: auto;

  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -ms-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

/*
 * Move List
 */
.move-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}

.move-list > table {
  margin: 0;
  table-layout: fixed;
}

.move-list > table > tbody, .move-list > table > thead {
  display: block;
}

.move-list > table > tbody {
  height: 420px; /* 21px * 20 rows */
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.move-list > table > thead {
  border-bottom: 1px solid #ccc;
}
.move-list > table > thead > th, .move-list > table > tbody > tr > td {
  height: 20px;
  padding: 0px 2px 0px 2px;
  overflow-x: visible;
  overflow-y: hidden;
  vertical-align: bottom;
  white-space: nowrap;
}

.move-list > table > tbody > tr > td {
  text-align: right;
  border-top: 0;
  border-bottom: 1px solid #ccc;
}

/* hide new lines inside cells */
.move-list > table > tbody br {
  display: none;
}

.move-list > table > tbody > tr > .mv {
  text-align: left !important;
}

.move-list > table > tbody > tr > .mv-7char {
  font-size: 12px;
}

.move-list > table > tbody > tr > .mv-8char {
  font-size: 11px;
}

.move-list-index {
  width: 30px;
  text-align: center;
}

.move-list-flag {
  padding: 0 !important;
  width: 8px;
}

.move-list-move {
  width: 100px;
}

.move-list-time {
  width: 47px;
  /*max-width: 47px;*/
}

/*
 * Buttons
 */
.btn-default.active {
  background-color: #fff;
}

.btn-toggle.active {
  color: #fff;
  background-color: #3276b1;
  border-color: #ccc;
}

.btn-toggle.active:focus, .btn-toggle.active:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-toggle.notActive{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-toggle.notActive:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-toggle.notActive:hover{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.notActive{
  color: #3276b1;
  background-color: #fff;
}

/*
 * Text input
 */
.text-input input {
  padding-right: 20px;
}

.text-input span {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #5e5e5e;
}

/*
 * Footer
 */

.footer-text {
  text-align: right;
  margin-right: 20px;
}

/*
 * Navbar
 */

.navbar {
  display: block;
  height: 29px !important;
  min-height:29px !important;
  margin-bottom: 0px;
}

.navbar-header {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
}

.navbar-nav {
  width: 100% !important;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.navbar-brand {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-form {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav>li {
  display: inline-block;
  margin-left: 3px !important;
  margin-right: 3px !important;
  white-space: nowrap;
  vertical-align: top;
}

.nav>li>span {
  display: inline-block;
  margin-top: 7px !important;
}

.navbar>div {
  height: 100%;
}

.navbar>div>div {
  height: 100%;
}

.navbar-nav>li>a {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*
 * Main Pane
 */
.main-area-wrapper {
  padding-top: 5px;
  display: inline-block;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (min-width: 768px) {
  /* Sidebar: expanded=1 */
  .main-area-w-pc-00 {
    width: calc(100% - 123px);
  }
  .main-area-w-pc-01 {
    width: calc(100% - 523px);
  }
  .main-area-w-pc-10 {
    width: calc(100% - 303px);
  }
  .main-area-w-pc-11 {
    width: calc(100% - 703px);
  }
}

@media screen and (max-width: 767px) {
  /* left sidebar is hidden */
  .main-area-w-pc-00 {
    width: calc(100% - 63px);
  }
  .main-area-w-pc-01 {
    width: calc(100% - 463px);
  }
  .main-area-w-pc-10 {
    width: calc(100% - 63px);
  }
  .main-area-w-pc-11 {
    width: calc(100% - 463px);
  }
}

.no-overflow {
  overflow: hidden;
}

#main-area {
  margin-left: auto;
  margin-right: auto;
}

.main-area-pc {
  padding-left: 10px;
  padding-right: 10px;
}

.main-area-mobile-portrait {

}

.main-second {
  border-left: 6px solid #999999;
  padding-left: 9px;
}

/*
 * Side Bar
 */

.sidebar {
  background-color: #F7F7F7;
  z-index: 1000;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.sidebar-right {
  border-left: 6px groove #F8F8F8;
  float: right;
  min-height: 10700px !important;
}

.sidebar-left {
  border-right: 6px groove #F8F8F8;
  float: left;
}

.sidebar-heading {
  cursor: pointer;
}

.sidebar-left-title {
  margin-left: 14px;
}

.sidebar-left-content {
  max-width: 240px;
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -ms-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.panel-heading {
  cursor: pointer;
}

.dropdown-menu.left {
  left: auto;
  right: 0;
}
.dropdown-menu.left:before {
  left: auto !important;
  right: 9px;
}
.dropdown-menu.left:after {
  left: auto !important;
  right: 10px;
}

.dropdown-record {
  width: 60px;
}

.shorten-bar {
  margin-top: 3px;
}

/*
 * Setting Items
 */
.setting-row {
  margin-top: 2px;
  margin-bottom: 2px;
}

.setting-row-label {
  margin-top: 6px;
}

.setting-row-dropdown {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*
 * Control Bar
 */
@media screen and (max-width: 299px) {
  .control-bar {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 3px;
  }

  .control-select {
    /* control-button.width * 4 */
    width: calc(100% - 120px);
  }

  .control-button {
    width: 30px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media screen and (min-width: 300px) {
  .control-bar {
    min-width: 300px;
    max-width: 400px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 3px;
  }

  .control-select {
    /* control-button.width * 4 */
    width: calc(100% - 176px);
  }

  .control-button {
    width: 44px;
  }
}

.control-small {
  height: 28px !important
}

/*
 * Comment Area
 */
.comment-pc {
  width: 400px;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.comment-mobile {
  min-width: 200px;
  max-width: 400px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

/*
 * Alert
 */

.setting-alert {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*
 * Debug Log
 */
small .panel {
  padding-left: 0px;
  padding-right: 0px;
}

small div .panel-heading {
  padding-top: 4px;
  padding-bottom: 4px;
}

small div .panel-body {
  padding-top: 4px;
  padding-bottom: 4px;
}

/*
 * Common Classes
 */
.hidden {
  display: none;
  visibility: hidden;
}