/**
 * Nav
 */

.mode-select {
  width: 48px;
}

.btn-resign {
  margin-left: 40px;
}

.nav-bg-play {
  background: #f8f8f8;
}

.nav-bg-view {
  background: #d9edf7;
}

.nav-bg-edit {
  background: #fcf8e3;
}
