
/*
 * SVG Elements
 */

.board-border {
  fill: none;
  stroke: black;
  stroke-width: 10px;
}

.player-border {
  fill: #f8f8f8;
  stroke: black;
  stroke-width: 10px;
}

.board-line {
  stroke: black;
  stroke-width: 5px;
}

.board-circle {
  fill: black;
}

.board-index-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-anchor: middle;
  font-size: 60px;
  pointer-events: none;
}

.hand-number-text {
  font-family: Tahoma,Geneva,sans-serif;
  font-weight: 900;
  text-anchor: middle;
  stroke: #333333;
  stroke-width: 7px;
  fill: #f3f372;
  font-size: 110px;
  pointer-events: none;
}

.player-name-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  pointer-events: none;
}

.box-label {
  fill: #909090;
}

.left-half {
  clip-path: inset(0% 50% 0% 0%);
}

.right-half {
  clip-path: inset(0% 0% 0% 50%);
}

/* Indicators */
.indicator-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 900;
  text-anchor: middle;
  fill: #eeeeee;
  pointer-events: none;
}

.indicator-none {
  fill: none;
}

.indicator-turn {
  fill: #8db6dd;
}

.indicator-win {
  fill: #6cbf6c;
}

.indicator-lose {
  fill: #dc6460;
}

.indicator-draw {
  fill: #99877a;
}

/*
 * SVG Effects
 */

.board-cursor {
  fill: none;
  stroke-width: 18px;
}

.board-flash {
  fill: none;
  stroke: #805819;
  stroke-width: 18px;
}

.board-selected {
  stroke: none;
}

.board-last {
  stroke: none;
}

.board-move {
  fill: none;
  stroke: #805819;
  stroke-width: 20px;
}

.board-legal {
  fill: #2b5f91;
  stroke: none;
  opacity: 0.8;
}

.board-forward-line {
  fill: none;
  stroke: #337ab7;
  stroke-width: 30px;
  opacity: 0.1;
}

.board-forward-triangle {
  fill: #337ab7;
  opacity: 0.2;
}

.text-tb {
  writing-mode: tb;
}
