.navbar {
    display: block;
    height: 28px;
    min-height:28px !important;
    margin-bottom: 10px;
}

.navbar-nav {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-form {
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav>li {
    float: float;
    display: inline-block;
    margin-left: 5px !important;
    margin-right: 5px !important;
    whilte-space: nowrap;
}

.navbar-nav>li>a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.thin-btn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 24px !important;
}

.btn-control {
    width: 48px !important;
}

.rect-select {
    width: 140px !important;
    border-radius: 0 !important;
    -webkit-appearance:none;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#radioBtnMode .notActive {
    color: #3276b1;
    background-color: #fff;
}

body {
    /* disables selection */
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari/Chrome */
    -ms-user-select: none; /* IE10 */
}

div {
    position: relative;
}

canvas {
    position: absolute;
}