.shogi-state {
  border: 1px solid #aaaaaa;
  line-height: 1.0;
  width: 480px;
  margin: 14px;
  padding: 0;
}

.shogi-header {
  background-color: #ffffff;
  padding: 8px 0px 8px 14px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #aaaaaa;
}

.shogi-body {
  width: 220px;
  background-color: #f0f0f0;
  padding: 0px 0px 0px 8px;
  font-family: "Source Han Serif", "Hiragino Mincho ProN", serif;
  font-size: 18px;
}

.shogi-hand {
  width: 208px;
  padding: 6px 0px 6px 0px;
  font-size: 16px;
}

.shogi-board {
  width: 202px;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-left: 4px;
}

.shogi-board>tbody>tr>td {
  border: 1px solid #000000;
  width: 21px;
  height: 21px;
  text-align: center;
}

.shogi-comment {
  font-size: 14px;
  background-color: #ffffff;
  width: 100%;
  padding: 8px 8px 8px 12px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #aaaaaa;
}

/* shogi board index (filewise) */
.sb-f {
  border: none !important;
  height: 10px !important;
  background-color: #f0f0f0 !important;
  font-size: 12px;
  vertical-align: bottom;
}

/* shogi board index (rankwise) */
.sb-r {
  border: none !important;
  background-color: #f0f0f0 !important;
  width: 10px !important;
  font-size: 12px;
  text-align: left !important;
  padding-left: 2px;
}
/* shogi piece inverted */
.sp-i {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  padding-left: 0px !important;
}

/* shogi piece promoted */
.sp-p {
  color: #d9534f;
}

/* shogi piece last move */
.sp-b {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: bold;
}

